crawler:
    CONSUMER_KEY : 1LjvCjVgXCtvHnmebPsn3P5cb
    CONSUMER_SECRET : ZLAZcL0rf1QikEfvp7ZaEXI72EfSLr7fBM663ECNfKY8hW5Wan
    ACCESS_TOKEN : 1004274752331055104-F9Z51eAAecsD0uIFWMbt3RN5JZZDXe
    ACCESS_TOKEN_SECRET : WKKddNtUqAvKcWMUaxw5C2WD2qUOCdzjoZfxhCZz9oXAS
    QUERY: seleção brasileira
    PATH_RESULTS: ./crawler_results_selecao_brasileira/
    TOTAL: 1000
    TWITTER_LANG: pt
    INICIO: 22/6/2018 06:00
    FIM: 23/6/2018 00:00