crawler:
  ACCESS_TOKEN: 52572176-zn9okwAeO0iAX1ZEW6E9YaE8iAn8IVdDYqyXN5lYb
  ACCESS_TOKEN_SECRET: EmQuHiuTncRSGy7Wvh5Q0InseGWm45TrxGcH4Q6pLad87
  CONSUMER_KEY: nDc5j9q7vhWi0krocmnM28vXE
  CONSUMER_SECRET: 5KscghsdSOX3BYsVjdME0hsRAdMWHiblrvVcc9cApCKfiO8IQI
  FIM: null
  INICIO: null
  PATH_RESULTS: ./crawler_results/
  QUERY: "dilma;bolsonaro;jair bolsonaro;ciro gomes;boulos;manuela d'avila;stf;s\xE9\
    rgio moro;alckmin;henrique meirelles;copa do mundo,sele\xE7\xE3o brasileira;lula"
  TOTAL: 40000
  TWITTER_LANG: pt
