crawler:
  ACCESS_TOKEN: 1004274752331055104-F9Z51eAAecsD0uIFWMbt3RN5JZZDXe
  ACCESS_TOKEN_SECRET: WKKddNtUqAvKcWMUaxw5C2WD2qUOCdzjoZfxhCZz9oXAS
  CONSUMER_KEY: 1LjvCjVgXCtvHnmebPsn3P5cb
  CONSUMER_SECRET: ZLAZcL0rf1QikEfvp7ZaEXI72EfSLr7fBM663ECNfKY8hW5Wan
  FIM: 04/08/2018 00:00
  INICIO: 03/08/2018 00:00
  LOGFILE: crawler.log
  PATH_RESULTS: ./crawler_results/
  QUERY: 15-Alckmin
  TOTAL: 1000
  TWITTER_LANG: pt
