crawler:
  ACCESS_TOKEN: 52572176-zn9okwAeO0iAX1ZEW6E9YaE8iAn8IVdDYqyXN5lYb
  ACCESS_TOKEN_SECRET: EmQuHiuTncRSGy7Wvh5Q0InseGWm45TrxGcH4Q6pLad87
  CONSUMER_KEY: nDc5j9q7vhWi0krocmnM28vXE
  CONSUMER_SECRET: 5KscghsdSOX3BYsVjdME0hsRAdMWHiblrvVcc9cApCKfiO8IQI
  FIM: 10/07/2018 00:00
  INICIO: 09/07/2018 00:00
  PATH_RESULTS: ./crawler_results/
  QUERY: 10-lula;11-bolsonaro
  TOTAL: 1000
  TWITTER_LANG: pt
